body{
	background-color: red;
	align-content:center;
	text-align: center;
}
.square{
	width: 100px;
	height: 100px;
	background: yellow;
}
.rectangle{
	width: 200px;
	height: 100px;
	background: yellow;
}
.circle{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: yellow;
}
.triangle-up{
	border-bottom: 100px solid yellow;
	height: 0;
	width: 0;
	border-right: 50px solid transparent;
	border-left: 50px solid transparent;
	border-top: 100px solid yellow;

}
.triangle-down {
	border-top: 100px solid yellow;
	height: 0;
	width: 0;
	border-right: 50px solid transparent;
	border-left: 50px solid transparent;
}
.star-6points {
	border-top: 150px solid yellow;
	height: 0;
	width: 0;
	border-right: 100px solid transparent;
	border-left: 100px solid transparent;
	position:relative;
}

	.star-6points::after {
		border-bottom: 150px solid yellow;
		height: 0;
		width: 0;
		border-right: 100px solid transparent;
		border-left: 100px solid transparent;
		position: absolute;
		content: "";
		top: -200px;
		left: -100px;
	}

.bars{
	width: 200px;
	background: white;
	border-radius: 10px;


}

.filler{
	width: 90%;
	background-color: blue;
	border-radius: 10px;
	animation: barfill;
	animation-duration: 2s;
	animation-direction:normal;
}

@keyframes barfill{
	0%{
		width: 0%;

	}
	100%{
		width: 90%;
	}
}